
tests mediapipe/.ipynb_checkpoints/Mediapipe-checkpoint.ipynb
tests rtmpose/.ipynb_checkpoints/Mmpose-checkpoint.ipynb
tests cspnext/.ipynb_checkpoints/Cspnext-checkpoint.ipynb
tests cspnext/.ipynb_checkpoints/Cspnext-other-checkpoint.ipynb
